<html>
<head>
<title>51商城――后台管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="{{url_for('static',filename='admin/css/style.css')}}" rel="stylesheet">
<script language="javascript" src="{{url_for('static',filename='admin/js/jquery.min.js')}}"></script>
<script language="javascript" src="{{url_for('static',filename='admin/js/check.js')}}"></script>
</head>
<body>
<table width="1280" height="114"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><img src="{{url_for('static',filename='admin/images/manage_banner.jpg')}}" width="1280" height="114" /></td>
  </tr>
</table>
