{% extends "admin/common.html" %}
{% block content %}
<table width="1280" height="288"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>

    <td align="center" valign="top"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="18" height="45" align="right">&nbsp;</td>
        <td colspan="3" class="tableBorder_B_dashed">
          <img src="{{url_for('static',filename='admin/images/manage_ico1.GIF')}}" width="11" height="11">&nbsp;
          <a href="{{url_for('admin.supercat_list')}}"> [大分类信息管理]</a>&nbsp;&nbsp;&nbsp;
          <img src="{{url_for('static',filename='admin/images/manage_ico2.GIF')}}" width="11" height="11">&nbsp;
          <a href="{{url_for('admin.subcat_list')}}">[小分类信息管理]</a>&nbsp;&nbsp;&nbsp;
          <img src="{{url_for('static',filename='admin/images/manage_ico3.GIF')}}" width="12" height="12">&nbsp;
          <a href="{{url_for('admin.goods_add')}}">[添加商品信息]</a></td>
        <td width="24">&nbsp;
        </td>
      </tr>
      <tr>
        <td align="right">&nbsp;</td>
        <td height="10" colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="29" align="right">&nbsp;</td>
        <td width="10" background="{{url_for('static',filename='admin/images/manage_leftTitle_left.GIF')}}">&nbsp;</td>
        <td width="989" align="center" background="{{url_for('static',filename='admin/images/manage_leftTitle_mid.GIF')}}" class="word_white"><b>商品列表</b></td>
        <td width="10" background="{{url_for('static',filename='admin/images/manage_leftTitle_right.GIF')}}">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
	<!---->
    <table width="92%" height="192"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top">
          <table width="100%" height="14"  border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="13" align="center">&nbsp;</td>
            </tr>

          </table>
            <table width="100%" height="60"  border="1" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bordercolordark="#FFFFFF" bordercolorlight="#E6E6E6">
              <tr bgcolor="#eeeeee">
                <td width="40%" height="24" align="center">商品名称</td>
                <td width="22%" align="center">价格</td>
                <td width="11%" align="center">是否新品</td>
                <td width="11%" align="center">是否特价</td>
                <td width="8%" align="center">修改</td>
                <td width="8%" align="center">删除</td>
              </tr>
              {% for v in page_data.items %}
                <tr style="padding:5px;">
                  <td height="20" align="center">
                    <a href="{{url_for('admin.goods_detail',goods_id=v.id)}}">{{ v.name }}</a>
                  </td>
                  <td align="center" >{{ v.current_price }}</td>
                  <td align="center">{% if v.is_new %} 是 {% else %} 否 {% endif%}</td>
                  <td align="center">{% if v.is_sale %} 是 {% else %} 否 {% endif%}</td>
                  <td align="center">
                    <a href="{{url_for('admin.goods_edit',id=v.id)}}">
                      <img src="{{url_for('static',filename='admin/images/modify.gif')}}" width="19" height="19">
                    </a>
                  </td>
                  <td align="center">
                    <a href="{{url_for('admin.goods_del_confirm',goods_id=v.id)}}">
                      <img src="{{url_for('static',filename='admin/images/del.gif')}}" width="20" height="20">
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </table>
            {% if page_data %}
              <tbody>
                <tr>
                  <td height="30" align="right">当前页数：[{{page_data.page}}/{{page_data.pages}}]&nbsp;
                    <a href="{{ url_for('admin.index',page=1) }}">第一页</a>
                    {% if page_data.has_prev %}
                      <a href="{{ url_for('admin.index',page=page_data.prev_num) }}">上一页</a>
                    {% endif %}
                    {% if page_data.has_next %}
                　     <a href="{{ url_for('admin.index',page=page_data.next_num) }}">下一页</a>
                    {% endif %}　
                    <a href="{{ url_for('admin.index',page=page_data.pages) }}">最后一页&nbsp;</a>
                  </td>
                </tr>
              </tbody>
            {% endif %}
          </td>
        </tr>
      </table>
	 <!---->
</td>


{% endblock %}