<!Doctype html>
<html>
<head>
<title>后台管理!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="{{url_for('static',filename='admin/css/style.css')}}" rel="stylesheet">
<script src="{{url_for('static',filename='admin/js/check.js')}}"></script>
<style type="text/css">
body{
	margin: 0px;
}
</style>
</head>

<body>
 <table width="100%" height="545" border="0" cellpadding="0" cellspacing="0">
   <tr>
     <td style="background-image:url({{url_for('static',filename='admin/images/managerlogin_bg.png')}});">
       <form  method="post" action="{{url_for('admin.login')}}" >
          <table width="448" height="345"  border="0" align="center"  style="margin-top:170px;" cellpadding="0" cellspacing="0" background="{{url_for('static',filename='admin/images/managerlogin_dialog.png')}}">
            <tr>
              <td height="60" colspan="2" align="center">&nbsp;</td>
            </tr>
            <tr>
              <td width="55" height="280" align="center" valign="top">&nbsp;</td>
              <td width="436" align="left" valign="top">
              <table style="margin-top:30px" width="88%" height="240"  border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="99%" height="74" align="center">
                      {{ form.manager }}
                  </td>
                </tr>
                <tr>
                  <td height="30" align="center">
                    <span class="word_white">
                    {{ form.password }}
                  </span></td>
                </tr>
                <tr>
                  <td height="57" align="center">
                    {{ form.csrf_token }}
                    {{ form.submit }}
                    <input  type="reset" class="login_reset" value="重置">
                    <!--<p>密码错误</p>-->
                </tr>
                <!--{% for msg in get_flashed_messages(category_filter=["err"]) %}-->
                    <!--<p class="login-box-msg" style="color: red">{{ msg }}</p>-->
                <!--{% endfor %}-->
                <!--{% for msg in get_flashed_messages(category_filter=["ok"]) %}-->
                    <!--<p class="login-box-msg" style="color: green">{{ msg }}</p>-->
                <!--{% endfor %}-->
                <tr>
                  <td height="35" align="right">
                    <a href="../front/index.html"><img src="{{url_for('static',filename='admin/images/back.png')}}"> 返回商城主页</a></td>
                </tr>
              </table>
              </td>
            </tr>
        </table>
     </form>
      <table width="491" height="39" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" >All CopyRights &copy; reserved 2018 吉林省明日科技有限公司</td>
        </tr>
      </table>
     </td>
   </tr>
 </table>
</body>

</html>
