 <td width="182" valign="top"><table width="100%" height="431"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="199" valign="top" bgcolor="#FFFFFF">
        <table width="199" height="431"  border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="18" colspan="3"><img src="{{url_for('static',filename='admin/images/manage_rightTitle.GIF')}}" width="189" height="37" /></td>
          </tr>
          <tr>
            <td height="9" colspan="3" background="{{url_for('static',filename='admin/images/manage_rightKtop.GIF')}}"></td>
          </tr>

          <tr>
            <td colspan="3" align="center" valign="top" background="{{url_for('static',filename='admin/images/manage_rightKmid.GIF')}}">
              <table width="90%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20%" height="50" align="center" class="tableBorder_B_dashed">
              <img src="{{url_for('static',filename='admin/images/manage_listIco.GIF')}}" width="10" height="11" />
            </td>
            <td width="80%" class="tableBorder_B_dashed"><a href="{{url_for('admin.index')}}">商品管理<br>
              Goods Manage</a></td>
            </tr>
            <tr>
            <td height="50" align="center" class="tableBorder_B_dashed"><img src="{{url_for('static',filename='admin/images/manage_listIco.GIF')}}" width="10" height="11" /></td>
            <td class="tableBorder_B_dashed"><a href="{{url_for('admin.topgoods')}}">销量排行榜<br>
              Sale Top 10</a></td>
            </tr>
          <tr>
            <td height="50" align="center" class="tableBorder_B_dashed"><img src="{{url_for('static',filename='admin/images/manage_listIco.GIF')}}" width="10" height="11" /></td>
            <td class="tableBorder_B_dashed"><a href="{{url_for('admin.user_list')}}">会员管理<br>
              Member Manage</a></td>
            </tr>
          <tr>
            <td height="50" align="center" class="tableBorder_B_dashed">
              <img src="{{url_for('static',filename='admin/images/manage_listIco.GIF')}}" width="10" height="11" /></td>
            <td class="tableBorder_B_dashed"><a href="{{url_for('admin.orders_list')}}" >订单管理<br>
              Order Manage</a></td>
            </tr>
            <tr>
            <td height="50" align="center" class="tableBorder_B_dashed"><img src="{{url_for('static',filename='admin/images/manage_listIco.GIF')}}" width="10" height="11" /></td>
            <td class="tableBorder_B_dashed"><a href="{{url_for('admin.logout')}}">退出后台<br>
              Exit Background </a></td>
            </tr>
            </table></td>
          </tr>
          <tr>
            <td height="9" colspan="3" align="center" background="{{url_for('static',filename='admin/images/manage_rightKbottom.GIF')}}"></td>
          </tr>
</table>
</td>
      </tr>
    </table></td>
   </tr>
</table>
   </tr>
</table>